body {
    display: grid;
    place-items: center;
    height: 100vh;
  }
  body:before {
    content: "";
    position: absolute;
    width: 300px;
    height: 60px;
    top: calc(50% - 140px);
    left: calc(50% + 140px);
    --w: 45px;
    --h: 15px;
    -webkit-mask: linear-gradient(to right, rgba(255, 255, 255, 0.001) 10px, #000 20px, #000, rgba(255, 255, 255, 0.001));
            mask: linear-gradient(to right, rgba(255, 255, 255, 0.001) 10px, #000 20px, #000, rgba(255, 255, 255, 0.001));
    background: radial-gradient(ellipse at top, rgba(255, 255, 255, 0.001) 10px, #dce5e4 10px, #dce5e4 12px, rgba(255, 255, 255, 0.001) 12px) 50% 50%/var(--w) var(--h), radial-gradient(ellipse at bottom, rgba(255, 255, 255, 0.001) 10px, #dce5e4 10px, #dce5e4 12px, rgba(255, 255, 255, 0.001) 12px) calc(50% - 22.5px) 50%/var(--w) var(--h);
    z-index: 10;
    -webkit-animation: blowing 1s linear infinite, rotate 4s ease-in-out infinite alternate;
            animation: blowing 1s linear infinite, rotate 4s ease-in-out infinite alternate;
    --position: 0px;
    --scale: 1;
    transform-origin: -200px calc(50% + 50px);
  }
  @-webkit-keyframes blowing {
    to {
      background-position: calc(50% + 266px) 50%, calc(50% - 22.5px + 266px) 50%;
    }
  }
  @keyframes blowing {
    to {
      background-position: calc(50% + 266px) 50%, calc(50% - 22.5px + 266px) 50%;
    }
  }
  body > div {
    position: relative;
    background: radial-gradient(circle at center, rgba(255, 255, 255, 0.001) 70px, #e4b951 70px, #b3871c 75px, #e4b951 90px, #e4b951 100px, #d4a021 125px, rgba(255, 255, 255, 0.001) 125px), repeating-radial-gradient(circle at center, #e4b951 4px, rgba(255, 255, 255, 0.001) 4px, rgba(255, 255, 255, 0.001) 10px, #e4b951 10px, #e4b951 14px) 50% 50%/160px 160px no-repeat, linear-gradient(15deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(30deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(45deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(60deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(75deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(90deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(105deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(120deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(135deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(150deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(165deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, linear-gradient(180deg, rgba(255, 255, 255, 0.001) calc(50% - 2px), #e4b951 calc(50% - 2px), #e4b951 calc(50% + 2px), rgba(255, 255, 255, 0.001) calc(50% + 2px)) 50% 50%/160px 160px no-repeat, radial-gradient(ellipse at center, #2f2307 10px, #a1bab7 12.5px, rgba(255, 255, 255, 0.001) 12.5px) calc(100% - 7.5px) calc(50% - 74px)/25px 100px no-repeat, radial-gradient(ellipse at center, #bfcfcd 10px, #bfcfcd 12.5px, rgba(255, 255, 255, 0.001) 12.5px) calc(100% - 30px) calc(50% - 74px)/25px 100px no-repeat, radial-gradient(circle at center, #2f2307 100px, rgba(255, 255, 255, 0.001) 100px), linear-gradient(to bottom, rgba(0, 0, 0, 0.25) 50%, rgba(255, 255, 255, 0.001) 50%) calc(50% + 25px) calc(100% - 100px)/17.5px 40px no-repeat, linear-gradient(to left, #5b440e 75%, #2f2307 75%) calc(50% + 25px) calc(100% - 100px)/17.5px 40px no-repeat, linear-gradient(to right, #bfcfcd, #a1bab7) calc(100% - 20px) calc(50% - 74px)/20px 100px no-repeat, linear-gradient(to bottom, #c9981f, #dda725 20%, #dda725 80%, #b3871c) calc(100% - 20px) calc(50% - 74px)/300px 100px no-repeat, radial-gradient(circle at center, rgba(255, 255, 255, 0.001) 70px, #e4b951 70px, #9d7618 75px, #e4b951 90px, #e4b951 100px, #715512 125px, rgba(255, 255, 255, 0.001) 125px) calc(50% + 20px) 50%/100% 100% no-repeat, linear-gradient(to right, #dda725 calc(100% - 25px), #b3871c calc(100% - 25px)) calc(50% - 20px) calc(100% - 20px)/112.5px 200px no-repeat, radial-gradient(ellipse at top, #dda725 44px, rgba(255, 255, 255, 0.001) 40px) calc(50% - 31.5px) 100%/150px 20px no-repeat, radial-gradient(ellipse at top, #9d7618 44px, rgba(255, 255, 255, 0.001) 40px) calc(50% - 7.5px) 100%/150px 20px no-repeat;
    width: 600px;
    height: 600px;
    transform: scale(0.75) translate(-75px, -75px);
    -webkit-animation: rotate 4s ease-in-out infinite alternate;
            animation: rotate 4s ease-in-out infinite alternate;
    --position: -75px;
    --scale: 0.75;
  }
  @-webkit-keyframes rotate {
    0% {
      transform: scale(var(--scale)) translate(var(--position), var(--position)) rotate(10deg);
    }
    100% {
      transform: scale(var(--scale)) translate(var(--position), var(--position)) rotate(-10deg);
    }
  }
  @keyframes rotate {
    0% {
      transform: scale(var(--scale)) translate(var(--position), var(--position)) rotate(10deg);
    }
    100% {
      transform: scale(var(--scale)) translate(var(--position), var(--position)) rotate(-10deg);
    }
  }
  body > div:after {
    --position: 0px;
    --scale: 1;
    content: "";
    position: absolute;
    width: 10px;
    height: 200px;
    background: linear-gradient(to bottom, #2f2307 75px, rgba(255, 255, 255, 0.001));
    top: calc(100% - 10px);
    left: calc(50% - 30px);
    -webkit-animation: rotate 4s ease-in-out infinite alternate -5s;
            animation: rotate 4s ease-in-out infinite alternate -5s;
    transform-origin: top;
  }
  body > div:before {
    content: "ON \a\a\a\a\aOFF";
    text-align: center;
    font-size: 10px;
    font-family: "Futura";
    width: 20px;
    word-break: break-word;
    position: absolute;
    white-space: pre;
    bottom: 85px;
    left: calc(50% + 15px);
    color: #2f2307;
  }